.hero-bg {
    /* Ganti 'image.png' dengan path ke gambar Anda jika berbeda, atau URL jika dihosting online */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('background2.png');
    background-size: cover;
    background-position: center;
}